html {
    margin: 0 auto;

    border: 2.5px solid red;

    width: calc(21cm + 10vw);
    height: calc(29.7cm + 10vh);
}

body {
    margin: 0 auto;
    width: 21cm;
    height: 29.7cm;
}

header {
    width: 21cm;
    height: calc(29.7cm / 4);
}

#A4-paper {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#marge {
    border: 1px dashed black;
    width: 21cm;
    height: 29.7cm;
}
