:root {
    --width: 21cm;
    --height: 29.6cm;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: var(--width);
    height: var(--height);
}

header {
    position: fixed;

    height: 30px;
    left: 19cm;
    z-index: 999;
}

header > img {
    height: 100%;
}

body {
    background-color: white;
}

#exercises {
    position: relative;

    width: var(--width);
    height: var(--height);
}
