@keyframes disappear-pop-in {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 0;
    left: 0;
}

.pop-in-disappear {
    animation-delay: 3000ms;
    animation-duration: 5000ms;
    animation-name: disappearPopIn;
}

.account-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;

    position: absolute;
}

.account-menu > button {
    width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
}

#input-size {
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.p-abs {
    position: absolute;
}
