header {
    background: #f7f7f7;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 0;
    left: 0;
}
a {
    text-decoration: none;
}
.pop-in-dissapear {
    animation-delay: 3000ms;
    animation-duration: 5000ms;
    animation-name: disapearPopIn;
}

@keyframes disapearPopIn {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.account-menu {

}