:root {
    --panel-open-width: calc(100vw / 5);
    --panel-close-width: 3vw;
    --open-button-width: 2vw;
    --search-icon: 6%;

    --size-account-button: 35px;
    --size-button-panels: 30px;
}

@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(-90deg); }
}

@keyframes rotateReverse {
    from { transform: rotate(-90deg); }
    to { transform: rotate(0deg); }
}

@keyframes HidePanelRight {
    to { transform: translateX(var(--panel-open-width)); }
}

@keyframes OpenPanelRight {
    from { transform: translateX(calc(var(--panel-open-width))); }
    to { transform: translateX(calc(-var(--panel-open-width))); }
}

@keyframes HidePanelLeft {
    to { left: calc(-1 * var(--panel-open-width)); }
}

@keyframes OpenPanelLeft {
    from { left: calc(-1 * var(--panel-open-width)); }
    to { left: 0; }
}


input:focus {
    outline: none;
}

article {
    width: 45%;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}

#account-button {
    height: var(--size-account-button);
    width: var(--size-account-button);
}

#left-panel { left: 0; border-radius: 0 5px 5px 0; }
#right-panel { left: calc(100vw - var(--panel-open-width)); border-radius: 5px 0 0 5px; }

#left-panel-close { left: 0; border-radius: 0 5px 5px 0; }
#right-panel-close { left: calc(100vw - var(--panel-close-width)); border-radius: 5px 0 0 5px; }

#right-arrow-collapse {
    width: var(--size-button-panels);
    height: var(--size-button-panels);
}

#left-arrow-collapse {
    left: 0;
    top: 75px;
}

#right-arrow-close { transform: rotate(180deg); }

#left-arrow-close {
    width: var(--open-button-width);
    height: 35px;
    transform: rotate(180deg);
}

#A4-exo-iframe {
    overflow-x: scroll;
    overflow-y: scroll;

    margin-top: 55px;
    width: calc(100vw / 2);
    height: calc(100vh - 60px);
}

#settings-iframe {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
    width: 100%;
    height: 100%;
}

#pop-in-info-div {
    position: absolute;
    top: 60px;
    right: 0;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.panels {
    display: block;

    position: fixed;
    top: 70px;

    width: var(--panel-open-width);
    height: calc(97vh - 70px);

    animation-duration: 0.5s;
}

.panels-close {
    display: none;

    width: 3vw;
    height: calc(97vh - 70px);

    position: fixed;
    top: 70px;

    animation-duration: 0.5s;
}

.arrows-collapse {
    width: var(--open-button-width);
    height: 35px;
}

.object-categories {
    width: inherit;
    height: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}

.checkboxes { display: none; }

.img-button-panel {
    width: var(--size-button-panels);
    height: var(--size-button-panels);
}

/* Page is 100% aside=25% article=45%  5%void (2.5 right and left)*/
aside {
    animation-fill-mode: forwards;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
    animation-duration: 5000ms;
}

.titleAside {
    text-align: center;
    margin-bottom: 5vh;
}

.titleAside > h1 {
    font-weight: bold;
    font-size: 4vh;
}

.search-Part {
    margin: 10px;
    background-color: var(--grey);
    border-radius: 10px;
}

.search-Part > input, .search-Part > button {
    border: none;
    background-color: var(--grey);
}

.search-Part > input {
    width: 90%;
    vertical-align: middle;
}

.search-Part > button {
    width: 5%;
    cursor: pointer;
}

/* Image */
.loupeImg {
    width: 100%;
    vertical-align: text-top;
}

.Show {
    width: 4%;
    vertical-align: text-top;
}

.Hide {
    width: 5%;
    vertical-align: text-top;
    animation-fill-mode: forwards;
    animation-duration: 400ms;
}

.logo {
    width: 70px;
    vertical-align: text-top;
}


/* -------------------------------- Collapsing Part -------------------------------- */
.collapsibleAside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-size: 15px;
}

.collapsible {
    cursor: pointer;
    width: 95%;
    height: 10%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: x-large;
    text-align: center;
}

.content {
    padding: 5px;
}

.hideAside {
    border-radius: 5px;
    width: 50%;
    height: 35px;

    margin: auto;
    padding: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    background-color: var(--eerie-black);
}

.hideAside:hover {
    background-color: white;
    color: black;
}

.categories-section {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pop-in-element {
    margin-right: 5px;
    margin-top: 5px;
    width: 100%;
    border-radius: 3px;
    background: red;
    text-align: center;
}

.contentAside {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}